.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .btn-chip {
    background-color: #ffffff;
    border: 1px solid #2685e7;
    padding: 1rem;
    color: #2685e7;
    cursor: pointer;
  }
}
.select-btn {
  margin-top: 16px;
  background-color: #2685e7;
  color: #ffffff;
  padding: 0px 16px;
}
.mat-chip.mat-standard-chip.mat-chip-selected {
  background-color: #2685e7;
  color: #ffffff !important;
}
